/POO I/TrabalhoFinal/trabalho01/build/
/POO I/TrabalhoFinal/trabalho01/nbproject/private/
/POO II/Aula12  - Arthur C/Aula-12/nbproject/private/
/POO II/Aula12  - Arthur C/Aula-12/build/
/POO II/Aula12  - Arthur C/Aula-12/dist/
/POO II/Aula14ArthurC/build/
/POO II/Aula14ArthurC/nbproject/private/
/POO II/Aula15 - 14p2 - Arthur C/Aula15/build/
/POO I/TrabalhoFinal/TrabFinalArthurCeRaphaelT/nbproject/private/
/POO II/TrabFinalArthurCeRaphaelT/nbproject/private/
/POO II/TrabFinalArthurCeRaphaelT/build/
