/POO I/TrabalhoFinal/trabalho01/build/
/POO I/TrabalhoFinal/trabalho01/nbproject/private/
/POO II/Aula12  - Arthur C/Aula-12/nbproject/private/
/POO II/Aula12  - Arthur C/Aula-12/build/
/POO II/Aula12  - Arthur C/Aula-12/dist/
/POO II/Aula14ArthurC/build/
/POO II/Aula14ArthurC/nbproject/private/
/POO II/Aula15 - 14p2 - Arthur C/Aula15/build/
/POO I/TrabalhoFinal/TrabFinalArthurCeRaphaelT/nbproject/private/
/POO II/TrabFinalArthurCeRaphaelT/nbproject/private/
/POO II/TrabFinalArthurCeRaphaelT/build/
/Objetos Distribuidos/Trabalho 1/TrabalhoBiblioteca/nbproject/private/
/Objetos Distribuidos/Trabalho 1/TrabalhoBiblioteca/build/
/Frameworks para Desenvolvimento de Software/Junit/JavaApplication31/nbproject/private/
/Frameworks para Desenvolvimento de Software/Junit/MotoTeste/nbproject/private/
/Objetos Distribuidos/Trabalho 1/CadastroVeiculos/CadastroVeiculos/nbproject/private/
/Objetos Distribuidos/Trabalho 1/CadastroVeiculos/CadastroVeiculos/build/
/Objetos Distribuidos/Trabalho 1/CadastroVeiculos/CadastroVeiculos/dist/
/Frameworks para Desenvolvimento de Software/Junit - Mockito/ProjetoBiblioteca/target/
/Frameworks para Desenvolvimento de Software/Junit - Mockito/ProjetoBiblioteca/nbproject/
/Objetos Distribuidos/Trabalho 1/att - 16-04 - CadastroVeiculos/CadastroVeiculos2/CadastroVeiculos2/nbproject/private/
/Objetos Distribuidos/Trabalho 1/att - 16-04 - CadastroVeiculos/CadastroVeiculos2/CadastroVeiculos2/build/
/Objetos Distribuidos/Trabalho 1/att - 16-04 - CadastroVeiculos/CadastroVeiculos2/CadastroVeiculos2/dist/
/Objetos Distribuidos/Trabalho 1/att - 16-04 - CadastroVeiculos/CadastroVeiculos - Arthur C/CadastroVeiculos2/build/
/Objetos Distribuidos/Trabalho 1/att - 16-04 - CadastroVeiculos/CadastroVeiculos - Arthur C/CadastroVeiculos2/nbproject/private/
/Objetos Distribuidos/Trabalho 1/att - 16-04 - CadastroVeiculos/CadastroVeiculos - Arthur C/CadastroVeiculos2/dist/
